<button
	id="discount-button"
	style="
		background-color: {{block.settings.button_color;
		color: {{block.settings.button_text_color}};
		border: 2px {{block.settings.button_text_color}} solid}};
		border-radius: {{block.settings.button_border_radius}};
	"
>
	{{ block.settings.button_label }}
</button>
